@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import "tailwindcss";

@layer theme, base, components, utilities;

@theme {
  --color-primary: #e57200;
  --color-secondary: #80276C;
  --color-tertiary: #ebebeb;
  --color-quaternary: #4c4d4c;
  --color-dark: #121212;
  --color-light: #ffffff;

  --font-raleway: "Raleway", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

@import "./custom.css";
