::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--color-dark);
}

::-webkit-scrollbar-thumb {
  width: 8px;
  height: 13px;
  border-radius: 8px;
  background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
  cursor: grab;
}

::-webkit-scrollbar-thumb:hover:active {
  cursor: grabbing;
}

::-webkit-scrollbar-corner {
  background-color: var(--color-dark);
}